---
import "../styles/global.css";
import { Image } from 'astro:assets';
// import artworkButton from '../assets/artworkButton.png';
import gamesButton from '../assets/gamesButton.png'
// import greenSparkles from '../assets/greenSparkles.png'
// import greenSparklesv2 from '../assets/greenSparklesv2.png'
// import homeButton from '../assets/homeButton.png'
// import leafStem from '../assets/leafStem.png'
// import mainPage1 from '../assets/mainPage1.png'
// import mainPage2 from '../assets/mainPage2.png'
// import mainPage3 from '../assets/mainPage3.png'
// import mainPageIntro from '../assets/mainPageIntro.png'
// import photographyButton from '../assets/photographyButton.png'
// import portfolioButton from '../assets/portfolioButton.png'

import Navbar from "../components/navbar.astro";
// import PopUp from "../components/PopUp.astro";

import GameCard from "../components/gameCard.astro";

import slimeGameImage from "../assets/slimeGameImage.png";
import dragonpediaGameImage from "../assets/dragonpediaGameImage.png";
import kittenKlickerGameImage from "../assets/kittenKlickerGameImage.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Lilia</title>
	</head>
	<body class="bg-[url(../assets/personalSiteBackground.png)] bg-cover">
		<Navbar />
		<Image src={gamesButton} alt="games" class="flex justify-center items-start mx-auto m-4 mt-10 mb-20 scale-150" loading="eager"/>
		<!-- <p>Games</p> -->
		<!-- <h1 class="font-handwriting">COMING SOON</h1> -->
		<!-- <p class="font-handwriting text-6xl flex justify-center p-10"><a href="">Slime Game</a></p> -->
		

		<!-- <Modal id="dialog" open="Slime Game">
			<main slot="main">
			</main>
			<button slot="close">Close</button>
		</Modal> -->

		<!-- <Modal id="dialog" open="Open modal">
  			<main slot="main">
    			<p>Some extra content you would like here</p>
    			<hr />
    			<img width="60" height="80" src="/assets/logo.svg" alt="Astro logo" />
  			</main>
  			<button slot="close">Close modal</button>
		</Modal> -->
		<!-- <PopUp open="Slime Game" popUpName="Slime Game">
			<div slot="iframe">
				<a href="https://itch.io/embed-upload/11424737?color=333333">Click me!</a>
			
		</PopUp> -->

		<GameCard gameTitle="Slime Game" gameSrc="https://itch.io/embed-upload/11424737?color=333333" gameImg={slimeGameImage} />
		<GameCard gameTitle="Dragonpedia" gameSrc="https://itch.io/embed-upload/13886107?color=e4a672" gameImg={dragonpediaGameImage} />
		<GameCard gameTitle="Kitten Klicker" gameSrc="https://kittycat81.itch.io/kitten-klicker" gameImg={kittenKlickerGameImage}/>

		<p class="font-handwriting text-4xl flex justify-center p-10 md:text-5xl xl:text-6xl">NOTE: Most of my games are not mobile friendly sadly...</p>
</html>

<!-- https://itch.io/embed-upload/11424737?color=333333 -->