---
import "../styles/global.css";
import { Image } from 'astro:assets';
import artworkButton from '../assets/artworkButton.png';
import gamesButton from '../assets/gamesButton.png'
// import greenSparkles from '../assets/greenSparkles.png'
// import greenSparklesv2 from '../assets/greenSparklesv2.png'
// import homeButton from '../assets/homeButton.png'
// import leafStem from '../assets/leafStem.png'
// import mainPage1 from '../assets/mainPage1.png'
// import mainPage2 from '../assets/mainPage2.png'
// import mainPage3 from '../assets/mainPage3.png'
// import mainPageIntro from '../assets/mainPageIntro.png'
import photographyButton from '../assets/photographyButton.png'
import portfolioButton from '../assets/portfolioButton.png'

import Navbar from "../components/navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Lilia</title>
	</head>
	<body class="bg-[url(../assets/personalSiteBackground.png)] bg-cover">
		<Navbar />

		<Image src={portfolioButton} alt="portfolio" class="flex justify-center items-start mx-auto m-4 mt-10 mb-20 scale-150" loading="eager"/>

		<button class="flex justify-center items-start mx-auto m-4 scale-100 hover:scale-105 hover:rotate-2 transition">
			<Image src={artworkButton} alt="artwork" onclick="location.href='/artwork/'" class="cursor-pointer" loading="eager"/>
		</button>

		<button class="flex justify-center items-start mx-auto m-4 scale-100 hover:scale-105 hover:rotate-2 transition">
			<Image src={photographyButton} alt="photography" onclick="location.href='/photography/'" class="cursor-pointer" loading="eager" />
		</button>

		<button class="flex justify-center items-start mx-auto m-4 scale-100 hover:scale-105 hover:rotate-2 transition">
			<Image src={gamesButton} alt="games" onclick="location.href='/games/'" class="cursor-pointer" loading="eager"/>
		</button>
		


		

		

	</body>
</html>